/*  Nathan Cobb
    CPSC 473
    Assignment 3  */

/*  0 */
/*  * {
  color: red;
} */

/*  1 */
/*  h1 {
  color: red;
} */

/*  2 */
/*  .important {
  color: red;
} */

/*  3 */
/*  .relevant {
  color: red;
} */

/*  4 */
/*  .relevant>p:first-child {
  color: red;
} */

/*  5 */
/*  .relevant>p:nth-child(3) {
  color: red;
} */

/*  6 */
/*  .relevant>p:nth-child(7) {
  color: red;
} */

/*  7 */
/*  p {
  color: red;
} */

/*  8 */
/*  body>p {
  color: red;
} */

/*  9 */
/*  p.a {
  color: red;
} */

/*  10 */
/*  .relevant>.a {
  color: red;
} */

/*  11 */
.relevant>p:nth-child(2), .relevant>p:nth-child(4) {
  color: red;
}